{
	"module_developer": "Trek View",
	"module_support_url": "https://campfire.trekview.org/c/support/8",
	"module_name": "LabPano Pilot Era",
	"module_description": "8K High-Quality Video & Photo",
	"module_camera_exif_make": "LabPano",
	"module_camera_model": "Pilot Era",
	"module_camara_supports": ["mp4", "jpg"],
	"module_camara_video_telemetry": "camm"
}