{
	"module_developer": "Trek View",
	"module_support_url": "https://campfire.trekview.org/c/support/8",
	"module_name": "LabPano Pilot One",
	"module_description": "Pilot One elevates Panoramic Photography to a whole new level.",
	"module_camera_exif_make": "LabPano",
	"module_camera_model": "Pilot One",
	"module_camara_supports": ["mp4", "jpg"],
	"module_camara_video_telemetry": "camm"
}