{
	"module_developer": "Trek View",
	"module_support_url": "https://campfire.trekview.org/c/support/8",
	"module_name": "Insta360 ONE R",
	"module_description": "ONE R Twin Edition transforms on the fly from a 360 cam to a 4K 60fps wide-angle shooter.",
	"module_camera_exif_make": "Insta360",
	"module_camera_model": "ONE R",
	"module_camara_supports": ["mp4", "jpg"],
	"module_camara_video_telemetry": "camm"
}