integration_developer: "Trek View"
integration_support_url: "https://campfire.trekview.org/"
integration_name: "Mapillary"
integration_description: "Mapillary is the street-level imagery platform that scales and automates mapping using collaboration, cameras, and computer vision."
integration_url: "https://www.mapillary.com/app/"
integration_max_megapixels: 75
integration_max_filesize_mb: 50