integration_developer: "Trek View"
integration_support_url: "https://campfire.trekview.org/"
integration_name: "Street View"
integration_description: "Google Street View is a technology featured in Google Maps and Google Earth that provides interactive panoramas from positions along many streets in the world."
integration_url: "https://maps.google.com/maps"
integration_max_megapixels: 100
integration_max_filesize_mb: 75